src/main/resources/xml-schemas/gbs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://books.google.com/gbs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="gbs" type="gbs:gbsType" xmlns:gbs="http://books.google.com/gbs"/>
  <xs:complexType name="productionNotesType">
    <xs:sequence>
      <xs:element type="xs:float" name="badPages"/>
      <xs:element type="xs:float" name="missingPages"/>
      <xs:element type="xs:float" name="tightBoundPages"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="imageMethodType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="scanner"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="focusParametersType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="threshold"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="gbsType">
    <xs:sequence>
      <xs:element type="gbs:productionNotesType" name="productionNotes" xmlns:gbs="http://books.google.com/gbs"/>
      <xs:element type="gbs:imageMethodType" name="imageMethod" xmlns:gbs="http://books.google.com/gbs"/>
      <xs:element type="gbs:focusParametersType" name="focusParameters" xmlns:gbs="http://books.google.com/gbs"/>
      <xs:element type="xs:string" name="pageTag"/>
      <xs:element type="xs:string" name="pageOrder"/>
      <xs:element type="xs:string" name="pageSequence"/>
      <xs:element type="xs:string" name="coverTag"/>
      <xs:element type="xs:string" name="sourceLibrary"/>
      <xs:element type="xs:string" name="sourceIdentifier"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>